<html>
    <body>
        
        {% if errors %}
            {{ errors.message }}
        {% endif %}

        <form action="{{ path('piledgeAuthor_signup') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
    </body>
</html>
