{% extends "PiledgeMessageBundle::layout.html.twig" %}

{% block left_menu %} 
   
   <div class="msg_menu">
       
       <ul class="nav nav-list">

                    <li class="nav-header">Message </li>  
                    <li><a href="{{ path('piledgeMessage_new') }}"><i class=""></i>News Message</a></li>
                    <li class="active">
                        <a href="{{ path('piledgeMessage_inbox') }}">
                            <i class=""></i>Inbox
                            <span class="badge badge-info" style="float: right;">{% if msg_unread %}{{ msg_unread.count }}{% endif %}</span>
                        </a>
                    </li>
                    <li><a href="{{ path('piledgeMessage_sent') }}">Sent</a></li>
                    <li class="nav-header">Conversations</li>
                    <li><a href="#">Programming</a></li>
                    <li><a href="#">Maths</a></li>
                    <li><a href="#">Comptabilité</a></li>
            </ul>

   </div>

{% endblock %}

{% block file_list %}
   <div class="span7" style="margin-top: -20px; border: 1px solid #F5F5F5; width: 700px;">
         
     {% block msg_zone %}

      {% block msg_header %}  {% include 'PiledgeMessageBundle:Message:msg_header.html.twig'  %} {% endblock %} 

         {% if not inbox_msg %}  
             {% include 'PiledgeMessageBundle:Message:no_element_error.html.twig' %}
         {% else %}
             {% include 'PiledgeMessageBundle:Message:inbox_list.html.twig' %}
         {% endif %}

     {% endblock %}
    
   </div>
   <div style="float: left; margin-left: 280px; margin-top: 5px; margin-bottom: 5px; color: #ccc;">
    <span style="color: #ccc;"> Copyright (c) 2013 - by <a href="http://www.twitter.com">MATLLE</a> <a href="#">Language</a> </span>
   </div>

{% endblock %}

{% block copyright_right %} {% endblock %}
