

<ul class="nav nav-tabs" style="-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 10px; padding-bottom: 0px;">

  <li><a href="#">Delete</a></li>
  <li><a href="#">Report to moderator</a></li>
  <li><a href="#">Block User</a></li>


</ul>
