
<ul class="nav nav-tabs" style="-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 10px; padding-bottom: 0px;">

  <li><a href="#">Select all</a></li>
  <li><a href="#">Show only messages unread</a></li>
  <li><a href="#">Delete selected</a></li>
  <li><a href="#">Mark as read</a></li>
  <li><a href="#">Mark as unread</a></li>
  
   <li>
    
     
        <div style="width:40px;">
		    <dl style="" class="menu">
		       <dt>
                           <a class="" id="linkg" style="cursor: pointer; text-decoration: none">More<img src="Public/img/arrow.png"></a><span class="result"></span></dt>
				<dd>
		            <ul style="display: none;" id="ulg">
		                <li><a href="#">Everyone</a></li>
		                <li><a href="#">Friends</a></li>
		                <li><a href="#">Only Me</a></li>
		                <li><a href="#">Customize</a></li>
		          </ul>
		       </dd>
		    </dl>
         </div>
 
     
   </li>



</ul>



